* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* RESIZE 1px = 1rem */
  font-size: 6.25%;


  /* PALETA DE CORES */
  /* BACKGROUNDS */
  --bg-primary: hsl(233, 100%, 97%);
  --bg-secondary: hsl(218, 17%, 62%);
  --bg-heading: hsl(275, 18%, 79%);
  --bg-tag: hsl(312, 91%, 96%);
  /* FONT-COLOR */
  --fc-heading: hsl(0, 0%, 100%);
  --fc-texting: hsl(274, 84%, 12%);
  --fc-tag: hsl(232, 17%, 35%);


  /* MEDIDAS */
  --fs-heading: 40rem;
  --fs-tag: 20rem;
  --fs-texting: 16rem;


  /* FONTES
  font-family: 'Open Sans', sans-serif;
  font-family: 'Palanquin', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Staatliches', cursive; 
  */
}

body {
  background-color: var(--bg-primary);
}

.page {
  margin: 0 auto;

  height: 100vh;
}

header {
  margin: 0 auto;

  background-color: var(--bg-secondary);
}

header svg {
  display: flex;
  justify-content: center;
  margin: 0 auto 32rem;
}

header h1 {
  font-family: 'Staatliches';
  font-size: var(--fs-heading);
  line-height: 34px;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  text-transform: uppercase;
  color: var(--fc-heading);

  background-color: var(--bg-heading);

  padding: 10rem 0;
  margin: 0 auto 30rem;
}

header p {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-texting);
  line-height: 24px;
  text-align: center;
  color: var(--fc-texting);

  background-color: var(--bg-primary);

  padding: 40rem 32rem 0;
  margin: 40rem auto 65rem;

  display: flex;
  align-items: center;
}

header p span {
  display: none;
}

main {
  padding: 0 32rem 60rem;
  margin: 0 auto;
}

.cards {
  width: 100%;

  margin: 0 auto;

  display: grid;
  grid-gap: 32rem;
  grid-auto-columns: 1fr;
  grid-template-rows: 250rem 450rem 250rem 450rem;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D";
}

.card {
  position: relative;
}

.card:nth-child(1) {
  grid-area: A;
}

.card:nth-child(2) {
  grid-area: B;
}

.card:nth-child(3) {
  grid-area: C;
}

.card:nth-child(4) {
  grid-area: D;
}

.card:nth-child(5) {
  display: none;
}

.card:nth-child(6) {
  display: none;
}

.card img {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  object-fit: cover;
  filter: brightness(0.3);

  border-radius: 20px;
}

.card h2 {
  font-family: 'Staatliches';
  font-size: var(--fs-tag);
  line-height: 34px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: var(--fc-tag);

  background-color: var(--bg-tag);

  padding: 1rem 24rem;
  border-radius: 20px;

  position: absolute;
  top: 16rem;
  right: 16px;
}

main p {
  display: none;
}



/* ANINAÇÕES */
@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

header svg {
  animation: topToBottom 1000ms;
}


@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

header h1 {
  animation: bottomToTop 1000ms;
}


@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.card h2 {
  animation: leftToRight 1000ms;
}


@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.card img {
  animation: rightToLeft 1000ms;
}

.card:hover img {
  transform: scale(1.1);
  filter: brightness(1);
}

.card:hover h2 {
  opacity: 0.3;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: var(--fc-tag);
  border-radius: 20px;
}

::-webkit-scrollbar-track:hover {
  background: hsla(var(--main-hsl), 50%, 80%, 0.1);
}